<% include include/header.html %>
<%articles.forEach(function(article){%>
<div id="<%=article._id%>" class="article">
    <div class="article-top">
        <h3><%=article.title%></h3>
        <%if(article.user.avatar){%>
        <img src="<%=article.user.avatar%>" alt="">
        <%}%>
        <span><%=article.user.username%></span>
    </div>
    <div class="content">
        <%if(article.photo){%>
        <img src="<%=article.photo%>" alt="">
        <%}%>
        <p><%=article.content%></p>
    </div>
    <div class="article-footer">
        <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
        <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
        <div  class=" btn up"><span><%=article.up%></span></div>
        <div  class=" btn down"><span><%=article.down%></span></div>
    </div>

</div>
<%})%>
    <div class="page" id="page">
        <%var pre=pageNum-1;%>
        <%if(pre<1){pre=1}%>
        <%var next=pageNum+1;%>
        <%if(next>totalPages){next=totalPages}%>
        <a href="/?pageNum=<%=pre%>">上一页</a>
        <%for(var i=1;i<=totalPages;i++){%>
            <%if(i==pageNum){%>
                <a class="cur" href="/?pageNum=<%=i%>"><%=i%></a>
            <%}else{%>
                <a href="/?pageNum=<%=i%>"><%=i%></a>
            <%}%>
        <%}%>
        <a href="/?pageNum=<%=next%>">下一页</a>
    </div>

<% include include/footer.html %>