<% include include/header.html %>
<%articles.forEach(function(article){%>
<div class="article">
    <div class="article-top">
        <h3><%=article.title%></h3>
        <%if(article.user.avatar){%>
        <img src="<%=article.user.avatar%>" alt="">
        <%}%>
        <span><%=article.user.username%></span>
    </div>
    <div class="content">
        <%if(article.photo){%>
        <img src="<%=article.photo%>" alt="">
        <%}%>
        <p><%=article.content%></p>
    </div>
    <div class="article-footer">
        <div class=" btn up"><span>0</span></div>
        <div class=" btn down"><span>0</span></div>
    </div>

</div>




<%})%>

<% include include/footer.html %>